[tool.isort]
profile = "black"
line_length = 100

skip =
    migrations/,
    __pycache__,
    .git,
    .pytest_cache,
    .mypy_cache,
    node_modules,
    build,
    lib,
    .idea,
    .vscode,
    .ruff_cache

multi_line_output = 3
include_trailing_comma = true
use_parentheses = true
dedup_separators = true
