[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
drf-yasg = "*"
django-countries = "*"
psycopg2-binary = "*"
redis = "*"
django-redis = "*"
django-environ = "*"
django-debug-toolbar = "*"
pylint-django = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"
pylint = "*"
django-stubs = "*"
pytest = "*"
pytest-django = "*"
faker = "*"
factory-boy = "*"
pytest-cov = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
